<h1>This is (site name here) delivery</h1>
<form action="/deliveries" method="POST">
  <label>Company Number</label>
  <br/>
  <input type="number" name="company_number">
  <br/>
  <label>Vendor</label>
  <br/>
  <input type="text" name="vendor">
  <br/>
  <label>Catalog Number</label>
  <br/>
  <input type="number" name="catalog_number">
  <br/>
  <label>Description</label>
  <br/>
  <input type="text" name="description">
  <br/>
  <label>Qty. Order Shipped </label>
  <br/>
  <input type="number" name="qty_order-shipped">
  <br/>
  <label>Number of Boxes</label>
  <br/>
  <input type="number" name="number_of_boxes">
  <br/>
  <label>Notes</label>
  <br/>
  <input type="text" name="notes">
  <br/>
  <input type="submit" value="Done">
</form>