<h1>Please Sign Up</h1>
 <form action="/users" method="POST">
  <label>First Name</label>
  <br/>
  <input type="text" name="name">
  <br/>
  <label>Last Name</label>
  <br/>
  <input type="text" name="name">
  <br/>
  <label>Username:</label>
  <br/>
  <input type="text" name="email">
  <br/>
  <label>Password:</label>
  <br/>
  <input type="password" name="password">
  <input type="submit" value="Sign Up">
</form>